
*{
    font-size: 16px;
    color: #4F585E;
 
}
body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  
  .wrapper {
    display: flex;
    height: 100vh;
  }
  
  .main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
  
    color: #ffffff;
    background: #ffffff;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
  }
  
  .sidebar:hover {
    background: #f6f8f8;
  }
  
  .slideIconClose {
    display: none !important;
  }
  
  .side-panel {
    display: none;
    width: 280px;
    flex-shrink: 0;
    padding: 20px;
    color: #808268;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
  
  .sPwrapper .side-panel {
    display: initial;
  }
  
  .sPwrapper .slideIconOpen {
    display: none !important;
  }
  
  .sPwrapper .slideIconClose {
    display: initial !important;
  }
  
  /* gateway part *************************** */
  #ccn{
      width: 14rem;
      height: 1.5rem;
      margin: 0rem 0rem .6rem 0rem;
  }
  #dateCCN{
      width: 6rem;
      height: 1.5rem;
      padding: 0px 0px 0px 10px;
      margin: 0rem 0rem .6rem 0rem;
  }
  #cvv{
    width: 6rem;
    height: 1.4rem;
    margin: 0rem 0rem 0.3rem 1rem;
  }
  #cvvLable{
    margin: 0rem 0rem 0rem 2rem;
  }
  #cvvLable>img{
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0rem 0rem 0rem;
  }
  #namelk{
    width: 13.9rem;
    height: 1.5rem;
    padding: 0px 0px 0px 10px;
    margin: 0rem 0rem .2rem 0rem;
  }

  #checkboxText{
    font-size: 12px;
    margin-top:-5x
  }

  .logoPay{
    width: 30px;
    height: 30px;
     margin: 0rem 0rem -.5rem 0rem;
    -webkit-box-align: center;
    align-items: center;
    
  }
  .logoDiv{
    font-size: 12px;
  }
#btnLK{
    width: 14.5rem;
    height: 2rem;
    color: #ffffff;
    background-color:#4F585E;
    border: 10px;
    margin: 0rem 0rem 1rem 0rem;
}
#btnLK:hover{
    background-color: #007960;
    transform: scale(0.99);
    transition: all 0.15s ease;

}
.safe_shild{
    width: .7rem;
    height: .7rem;
}
.safe_text{
    font-size: 11px;
}


.ramram{
  width: 50%;
  float: left;

}
.hareram{
  width: 50%;
  float: right;
}

#charger{
  width: 100%;
  height: 100px;
  background-color: #007960;
  display: flex;
  justify-content: space-around;
}

#charger>div{
  margin-top: 20px;
  width: 20%;
  /* border: 1px solid red; */
}

.paylogo>img{
  width: 60%;
}

.securepay{
  width: 80%;
  color: #ffffff;
}

