
/* footer part CSS */
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
#appdownload{
    width: 100%;
    height: 300px;
    background-color:#f4f7fb ;
    padding-left: 50px;
    
}
#appdownload>div:nth-child(1)
{
    padding-top: 50px;
    color: #4f585e;
    font-size: 26px;
    font-weight: 700;
}
#appdownload>div:nth-child(2){
    margin-top: 100px;
    color: #4f585e;
}


.playstore{
    width: 28%;
    display: flex;
    justify-content: space-between;
}

.playstore>img{
    width: 45%;

}
.playstore>img:hover{
    cursor: pointer;
}

#footer{
   position: relative;
   bottom: 0px;
   left: 0px;
    width: 100%;
    /* border: 1px solid; */
    background-color: #f4f7fb;
}

#contacts{
    width: 95%;
    height: auto;
    display: flex;
    margin: auto;
}

#contacts>div{
    width: 40%;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 20px;
    text-align:left ;
    line-height: 30px;
    /* color: black; */
    
   
}
.hello{
    display: block;
    text-decoration: none;
    color: gray ;
    width: 100%;
    height: auto;
  
}
.hello:hover{
    cursor: pointer;
}

#contacts>div:last-child>div{
    width: 70%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
.socialmediaimg{
    width:18%;
    
}

.socialmediaimg:hover{
    cursor: pointer;
}

#paypart{
    width: 93%;
    /* border: 1px solid; */
    margin: 0px auto;
    margin-bottom: 40px ;
    margin-top: 10px;
   
}

.partenrimg{
    /* border: 1px solid red; */
    display: inline-block;
    width: 63%;
    margin-bottom: 10px;
    justify-content: space-between;
    
}

.paymentimg{
    width:6%;
    height: 35px;
    margin: 0px 3px;
}

#paypart>span{
    float: right;
    color: gray;
}

