
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/* ************************************************              */
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#121212;
    display: block;
    position: relative;
    width:100%;
    overflow:hidden;
    /* margin-top: 10px; */
    
}
.images{
    display:flex;
    
}
.images img{
    height: 230px;
    width:100%;
    transition: all 0.15s ease;
}
.images input{
    display: none;
    
}

.dots{
    display: flex;
    justify-content:center;
    /* margin: 5px; */
   
    
}
.dots label{
    height: 6px;
    width: 6px;
    border-radius:5px;
    background-color:rgb(200, 200, 200);
    border: solid #3BB896 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin:-15px 5px -30px 5px;

}
.dots label:hover {background:#3BB896;}
#img1:checked ~ .m1{
    margin-left:0;

}
#img2:checked ~ .m2{
    margin-left:-100%;
}
#img3:checked ~ .m3{
    margin-left:-200%;
}
#img4:checked ~ .m4{
    margin-left:-300%;
}
#img5:checked ~ .m5{
    margin-left:-400%;
}
/* css highlight part strting */
.h{
    color:white;
    font-family:sans-serif;
    margin-top:2%;
    margin-left:10.3%;

}
.carousel-cell {
    width: 32.3%;
    margin-right:15px;
}
.carousel-cell:before {
      display: block;

    }
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    background:white; 
    display: block;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom:20px;
    
}

.w3-image{
 border-radius:10px;
 margin-top:20px;
}

   


/* slide part css****************************** */
.row1LK{
    height: 15rem;
     width: 100%;
    border: 1px solid red;

}
 #i1LK{
    height: 15rem;
    width: 100%; 
} 
.row2LK{
    height: 15rem;
     width: 94%;
     display: grid;
    border: 0px solid red;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px;
    gap: 20px;
    margin: 1rem 0rem 0rem 2rem;
}
.orderLK{
    height: 10.3rem;
    width: 100%;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0px solid rgb(247, 247, 247);
    margin: 0rem 0rem 0rem 0rem; 
    background: linear-gradient(to bottom, rgb(199, 240, 240) 60%, white 40%); 
}
.stripLK{
    height: 1.2rem;
    width: 8.2rem;
    margin: 1rem 0rem 0rem 0rem;
    padding: 6px 0px 0px 6px;
    border-top-left-radius: .4rem;  font-family: sans-serif;
    font-size: 11px; color:#FFFF; font-weight: 600;
    background-image: url(https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg);
}
.stripLK >span{
text-decoration: line-through;
margin: 0px 2px 0px 2px;
}

.orderLK >a>button{
    margin: 2.6rem 0rem 0rem 1.5rem; 
    height: 2.3rem;
    width: 7rem;
    font-weight: 700; font-size: 16px;
    background-color: #3BB896;
    border-radius: .2rem;
    border: 0; color: white;
}
.orderLK>a >button:hover{
    transform: scale(0.99); 

}

h3{
    margin: 1.7rem 0rem 0rem 1.4rem; 
   color: #4F585E; font-size: 16px;
}

.orderLK > img{
    height: 10.2rem;
    width: 46%;
    float:right;
    float: top; margin: -1.65rem 0rem 0rem 0rem; 
  
}
#NewLK{
    font-weight: 700;
    font-size: 10px;
    bottom: 83px;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    border: 0;height: 15px;
    width: 41px;color: #FFF;
    background-color: #6596ef;
    background: linear-gradient(111.54deg,#2e72f2 27.04%,rgba(85, 121, 175, 0.314) 51.42%,#4781ec 73.38%);
}
#card3LK{
    margin: 1.5rem 0rem 0rem 1.5rem; 
    height: 2.3rem;
    width: 7rem;
    font-weight: 700; font-size: 16px;
    background-color: #00b9e1;
    border-radius: .2rem;
    border: 0; color: white;
}
/* .order>a >button:hover{
    transform: scale(0.99); 
    background-color: #15493b;
} */
.row3Lkstrip{

 border: 0px solid red;
height: 5rem;
width: 94%;border-radius: .5rem;
display: flex;
background-color: #a291fa;
margin: 0rem 0rem 0rem 2rem;

}
.str1{
    height: 2.62rem;
    width: 13.1rem;
    border: 0px solid blue;
}
.str1>img{
    height: 2.5rem;
    width: 12.1rem;
   
    -webkit-box-flex: 3;
    flex: 3;flex-grow: 3;flex-shrink: 1;flex-basis: 0%;
    color: #fff;
    margin: .5rem 0rem 0rem 2rem;
    padding: 10px 25px 0px 0px;
   
}
#saveLK{
    height: 3.4rem;
    width: 34rem;
    border: 0px solid rgb(44, 176, 130);
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;flex-grow: 3; flex-shrink: 1;
    font-size: 20px;
    /* font-weight: 600; */
    color: #fff;
    margin: 1.5rem 1rem 0rem -4.5rem;
    text-align: center;
    /* padding-top: 5px;
    padding-right: 25px; */
}
#saveLK+img{
    
    height: 115px;
    position: absolute;
    bottom: -.35rem;
    right: 35px;
}
/* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
    @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    } */