
/* css part of Add to cart page is here */

#parent{
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 40px;
    display: flex;
}

.box{
    width: 40%;
    /* border: 1px solid; */
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: ;
}

/* all items appending here */
#addedItems{
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px 15px;
}
#addedItems>.childdiv{
    /* div in which img and info will rest */
    display: flex;
    margin: auto;
    /* border: 1px solid teal; */
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imgdiv{
    width: 10%;
    /* border: 1px solid; */
    margin: 10px 0px;
}

.imgdiv>img{
    width: 100%;
    
}

.infodiv{
    width: 80%;
    text-align: center;
    margin:10px 0px;
}

.dltbtn{
    border: 0px;
    background-color: #10847e;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
}



